/*resize image according to
 * screen
 * */
.responsive_image {
        width: 100%;
        height: auto;
}

.fixed_table_th {
    width: 7.6%;
}

/*Hide evaluate button*/
#evaluate{
    display:none;
}
