{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hand Evaluation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'pokerbuddy/css/my_styles.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="{% static 'pokerbuddy/js/my_js.js' %}"></script>
    </head>

    <body>

{% if hearts and spades and diamonds and clubs %}
<div class="container-fluid" id="main_div">

    <!--Temp -->
    <div id="div1"></div>
   

    <div class="row">
        <!--Col sm-6 -->
        <div class="col-sm-6 col-md-5">

            <form action="" method="post">
                
                
                <h4>Hold Cards</h4>
                {% for index in hold_cards %}

                <!--<img onclick="turn_hold_card(this)" id="" alt="card"-->
                <img  id="" alt="card"
                src="{% static 'pokerbuddy/images' %}/small/back_of_card.png"
                width="" height="" class="hold_card">
                <!--width="" height="" class="hold">-->

                {% endfor %}



                <h4>Community Cards</h4>
                {% for index in community_cards %}

                <img id="" alt="card"
                src="{% static 'pokerbuddy/images' %}/small/back_of_card.png"
                width="" height="" class="community">

                {% endfor %}
                <br>
                <br>
                <br>

            </form>

            <br>
            <br>
            <br>
            <button class="btn btn-success" id="evaluate">Evaluate</button>
            <button class="btn btn-success" id="refresh">Refresh</button>

        </div>

        <!--Col sm-6 -->
        <div class="col-sm-6 col-md-5 selection1_div">
            <div class="row">
                <h5>Community Card Selection</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="fixed_table_th">A</th>
                            <th class="fixed_table_th">2</th>
                            <th class="fixed_table_th">3</th>
                            <th class="fixed_table_th">4</th>
                            <th class="fixed_table_th">5</th>
                            <th class="fixed_table_th">6</th>
                            <th class="fixed_table_th">7</th>
                            <th class="fixed_table_th">8</th>
                            <th class="fixed_table_th">9</th>
                            <th class="fixed_table_th">T</th>
                            <th class="fixed_table_th">J</th>
                            <th class="fixed_table_th">Q</th>
                            <th class="fixed_table_th">K</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for card in hearts %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_commun">
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for card in spades %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_commun">
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for card in diamonds %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{card.card_id}} responsive_image select_commun">
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for card in clubs %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_commun">
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-sm-6 col-md-5">
        </div>

        <!--Col sm-6 -->
        <div class="col-sm-6 col-md-5 Selection_div1">
            <div class="row">
                <h5>Hold Card Selection</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="fixed_table_th">A</th>
                            <th class="fixed_table_th">2</th>
                            <th class="fixed_table_th">3</th>
                            <th class="fixed_table_th">4</th>
                            <th class="fixed_table_th">5</th>
                            <th class="fixed_table_th">6</th>
                            <th class="fixed_table_th">7</th>
                            <th class="fixed_table_th">8</th>
                            <th class="fixed_table_th">9</th>
                            <th class="fixed_table_th">T</th>
                            <th class="fixed_table_th">J</th>
                            <th class="fixed_table_th">Q</th>
                            <th class="fixed_table_th">K</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for card in hearts %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_hold">
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for card in spades %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_hold">
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for card in diamonds %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_hold">
                            </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            {% for card in clubs %}
                            <td>
                                <img alt="{{card.card_number}}_{{card.card_suit}}"
                                src="{% static 'pokerbuddy/images' %}/small/{{card.card_image}}"
                                width="" id="{{ card.card_id }}" class="{{ card.card_id }} responsive_image select_hold">
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





    </div>
</div>
{% else %}
    <p>nothing to see here</p>
{% endif %}


</body>
</html>
